
################################################################
#    MADE FOR USERS WHO WANTS TO CLONE MY PROJECT              #
#    SO THAT USERS CAN KNOW WHAT ARE THE ENV                   #
#                                                              #
#   - GAURAV DOTIYAL                                           #
################################################################



 
SECRET_KEY =YOURSECRETKEY
ALGORITHM = YOURALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES = YOURTIME

DATABASE_URL=postgresql://DB_USERNAME:DATABASE_PASSWORD@DB_HOST:PORT/DB_NAME